

.autoCompleteParent {
  width:500px;
  div {
    background-color: white;
    z-index: 100;
    position: relative;
  }
}
.Appintro {
  font-size: large;
}
:global {

  .autocompleteItem div {
    background-color:#eee;
    cursor: pointer;
    
  }
  .autocompleteItemActive div {
    background-color:#ddd;
  } 

}